check-manifest==0.37
autopep8==1.4.2
bandit==1.5.1
colorama==0.3.9
coverage==4.5.1
pylint==2.1.1
pyroma==2.4
pytest==3.10.0
pytest-cache==1.0
pytest-colordots==1.1
pytest-cov==2.6.0
pytest-eradicate==0.0.3
pytest-flakes==4.0.0
pytest-forked==0.2
pytest-html==1.19.0
pytest-metadata==1.7.0
pytest-pep8==1.0.6
pytest-pycharm==0.5.0
pytest-pylint==0.12.3
pytest-remove-stale-bytecode==3.0
pytest-xdist==1.24.0
Sphinx==1.8.1
tox==3.5.3
xenon==0.5.4
